In [1]:
from farhad.StockTalent import Read_all_csv_file_in_aFolder
from farhad.StockTalent import give_label_price_model_one
import pandas as pd
from pendulum import now

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
address_folder = '/Users/apple/Documents/Programming/python/Project/Collected/Collected_Tweets/Tesla/' 
df_data = Read_all_csv_file_in_aFolder(address_folder, date='created_at')
df_data['created_at'] = pd.to_datetime(df_data['created_at']).dt.date

lenght of dataframe:  9979
Start from: 2006-07-17 00:24:27
Until: 2019-03-01 09:07:31

In [3]:
df_data.head()

,name,screen_name,text,created_at,geo,source,data_location
0,Gustaf Alstr√∂mer,gustaf,RT @Tesla: Model 3s now available\n \nStandard...,2006-07-17,NaN,Twitter for iPhone,San Francisco
1,Omar Qazi ü§¶üèΩ‚Äç‚ôÇÔ∏è,omarqazi,@Pivotal_Capital @nealboudette @kimpaquette @V...,2007-01-05,NaN,Twitter for iPad,San Francisco + Los Angeles
2,Omar Qazi ü§¶üèΩ‚Äç‚ôÇÔ∏è,omarqazi,@QTRResearch @businessinsider The thing that s...,2007-01-05,NaN,Twitter for iPhone,San Francisco + Los Angeles
3,üåäTime Travelerüåä,timetravelr2020,What a bunch of BS: Consumer Reports no longer...,2007-01-08,NaN,Twitter Web Client,"Maryland, USA"
4,Paulo Ferreira,Biafra,RT @MKBHD: From my IG story: Pretty sure these...,2007-01-24,NaN,Twitter for iPhone,NaN

In [43]:
import pandas_datareader as web
date='created_at'
start = df_data.sort_values(date)[date][0]
end = df_data.sort_values(date)[date][len(df_data)-1]

df_price = web.DataReader('TSLA','yahoo',start ,end)
df_price['Date'] =  pd.to_datetime(df_price.index).date
df_price.head()

,High,Low,Open,Close,Volume,Adj Close,Date
Date,,,,,,,
2010-06-29,25.00,17.540001,19.000000,23.889999,18766300,23.889999,2010-06-29
2010-06-30,30.42,23.299999,25.790001,23.830000,17187100,23.830000,2010-06-30
2010-07-01,25.92,20.270000,25.000000,21.959999,8218800,21.959999,2010-07-01
2010-07-02,23.10,18.709999,23.000000,19.200001,5139800,19.200001,2010-07-02
2010-07-06,20.00,15.830000,20.000000,16.110001,6866900,16.110001,2010-07-06

In [36]:
for i  in df_price['Date']:
    
    if i == df['created_at'][3000]:
        print(i)
print(df['created_at'][3000])

2011-05-27
2011-05-27

In [54]:
new_df = pd.merge(left=df_data, left_on='created_at', right=df_price, right_on='Date')
print('lenght of label_tweets: ', len(new_df))

lenght of label_tweets:  5509

In [10]:
df = give_label_price_model_one(df_data, date= 'created_at', company='TSLA')
df.head()

23
[23/90][Normalize]*** Done! ***
lenght of label_tweets:  5509
*** Done Merge ***

,created_at,text,"Price_label(0,1)"
0,2010-06-29,RT @elonmusk: Some Tesla news,1
1,2010-06-29,T Trump T Tusk T Tesla üíï,1
2,2010-06-29,RT @nytimesbusiness: Tesla's Elon Musk may be ...,1
3,2010-06-30,"""Tesla moves to online-only sales as it announ...",1
4,2010-06-30,RT @MKBHD: From my IG story: Pretty sure these...,1

In [11]:
start = df.sort_values('created_at')['created_at'][0]
end = df.sort_values('created_at')['created_at'][len(df)-1]
print('From :',start)
print('To: ',end)

From : 2010-06-29
To:  2019-03-01

In [12]:
start = df.sort_values('created_at')['created_at'][0]
end = df.sort_values('created_at')['created_at'][len(df)-1]
address = 'data/Clean_tweets/match_Tesla_label_from_{}_to_{}_{}{}{}.csv'.format(start,end,now().year,now().month,now().day)
print(address)
df.to_csv(address,index=False)

data/Clean_tweets/match_Tesla_label_from_2010-06-29_to_2019-03-01_201931.csv

# Clean

In [13]:
from farhad.TwCleaner import Tweets_preprocesiing
import pandas as pd

In [14]:
addresss_1 = 'data/Clean_tweets/match_Tesla_label_from_2010-06-29_to_2019-03-01_201931.csv'
df = pd.read_csv(addresss_1)
df.head(2)

   created_at                           text  Price_label(0,1)
0  2010-06-29  RT @elonmusk: Some Tesla news                 1
1  2010-06-29    T Trump  T Tusk  T Tesla  üíï                 1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5509 entries, 0 to 5508
Data columns (total 3 columns):
created_at          5509 non-null object
text                5509 non-null object
Price_label(0,1)    5509 non-null int64
dtypes: int64(1), object(2)
memory usage: 129.2+ KB

In [18]:
CT = Tweets_preprocesiing()
data1 = CT.Cleaner(df,target='text',date='created_at')
data = CT.Remove_stop_words(data1)
new_df = CT.save_clean_tweets(df,data,created_at='created_at',name='data/Clean_tweets/Clean_Tesla_label_from_2010-06-29_to_2019-03-01_201931.csv')

[5509/5509][clean tweets] *** Done! ***
[5509/5509][Remove stop_words] *** Done! ***

NameError: name 'save_clean_tweets' is not defined

In [20]:
new_df.head()

   created_at                                               text
0  2010-06-29                                                nan
1  2010-06-29                                   trump tusk tesla
2  2010-06-29  tesla elon musk may trouble e c want -PRON- ho...
3  2010-06-30  tesla move online sale -PRON- announce base model
4  2010-06-30  -PRON- ig story pretty sure truck troll -PRON-...