In [1]:
import warnings
warnings.filterwarnings('ignore')
from getiing_news import __info_getnews__
from getiing_news import CENT_news_extract, Yahoo_finacial_news_extract, Nytimes_news_extract, marketwatch_news_extract
import pandas as pd

----------------------------------------------------------
__info_getnews__(number)
number = 1, Yahoo_finacial_news_extract
number = 2, CENT_news_extract
number = 3, New_York_Times_news_extract
number = 4, marketwatch_news_extract
----------------------------------------------------------

In [2]:
#__info_getnews__(number=4)

<font size='12' color='red'>Tesla

## Yahoo

In [2]:
#!touch data/Tesla_Yahoo_finacial_new.csv

In [2]:
words= ['tesla']
Yahoo = Yahoo_finacial_news_extract(words=words)
Yahoo.Yahoo_finacial_search_topic()
Yahoo.Yahoo_finacial_search_subscript()
df = Yahoo.Yahoo_save_file(savename='Collected/Collected_News/Tesla/Tesla_Yahoo_finacial_new.csv')
df.head()

[3/3][number of news that are saved]*** Done! ***

,date,main_text,titles,url_titles
0,"February 28, 2019",,"Tesla cuts Model 3 price, plans to close most ...",/m/e61a0147-4e8e-3440-afb7-0823e7d2aafd/tesla-...
1,"March 1, 2019",,Tesla delivers big price cuts to Model S and M...,/m/6fca7d77-e2aa-3ca3-a01b-c906b64c0e35/tesla-...
2,"March 1, 2019",A drastic move Thursday by automotive and ener...,"Tesla to close 'many' stores, shift to online-...",/video/tesla-close-many-stores-shift-080438452...

## CNET

In [2]:
words= ["tesla"]
CNET = CENT_news_extract(words)
CNET.CENT_news_topics()
CNET.CENT_news_search_subscript()
df = CNET.CENT_save('Collected/Collected_News/Tesla/Tesla_CENT_new.csv')
df.head()

[3/3][number of news that are saved]*** Done! ***

,date,main_text,titles,url_titles
0,"February 28, 2019",Love cars? Climb in the driver's seat for the ...,"The $35,000 Tesla Model 3 is finally available...",https://www.cnet.com/roadshow/news/tesla-model...
1,"February 28, 2019",Love cars? Climb in the driver's seat for the ...,"Tesla to close retail stores, only sell cars o...",https://www.cnet.com/roadshow/news/tesla-close...
2,"February 28, 2019",Love cars? Climb in the driver's seat for the ...,Tesla is shutting down the bulk of its retail ...,https://www.cnet.com/roadshow/news/tesla-close...

#  New_York_Times

In [7]:
#!touch data/Tesla_Nytimes_new.csv

In [6]:
words= ["tesla"]
Nytimes = Nytimes_news_extract(words)
Nytimes.Nytimes_news_topics()
Nytimes.Nytimes_news_search_subscript()
df_Nytimes = Nytimes.Nytimes_save('Collected/Collected_News/Tesla/Tesla_Nytimes_new.csv')
df_Nytimes.head()

*** Done! ***

Empty DataFrame
Columns: [date, main_text, titles, url_titles]
Index: []

# marketwatch

In [16]:
#!touch data/Tesla_marketwatch_new.csv

In [7]:
words= ["Tesla"]
marketwatchT = marketwatch_news_extract(words)
marketwatchT.marketwatch_news_topics()
marketwatchT.marketwatch_news_search_subscript()
df_marketwatchT = marketwatchT.marketwatch_save(nameSave="Collected/Collected_News/Tesla/Tesla_marketwatch_new.csv")
df_marketwatchT.head()

[9/9][number of news that are saved from marketwatch]*** Done! ***

,date,main_text,titles,url_titles
0,"Published: Feb 28, 2019 8:25 p.m. ET",Tesla CEO says cutting retail staff will make ...,Elon Musk thinks retail layoffs will keep Tesl...,https://www.marketwatch.com/story/elon-musk-th...
1,"Published: Feb 28, 2019 8:25 p.m. ET",Tesla CEO says cutting retail staff will make ...,Elon Musk thinks retail layoffs will keep Tesl...,https://www.marketwatch.com/story/elon-musk-th...
2,"Published: Feb 28, 2019 8:26 p.m. ET",Tesla stock falls after Musk says company like...,"Tesla finally launches $35,000 Model 3, and mo...",https://www.marketwatch.com/story/tesla-launch...
3,"Published: Feb 28, 2019 8:25 p.m. ET",Tesla CEO says cutting retail staff will make ...,Elon Musk thinks retail layoffs will keep Tesl...,https://www.marketwatch.com/story/elon-musk-th...
4,"Updated Feb. 28, 2019 at 6:54 p.m. ET",Tesla (TSLA) will begin selling a Model 3 seda...,"Tesla’s Big Reveal: The $35,000 Model 3 Sedan",https://www.marketwatch.com/articles/tesla-che...

<font size='12' color='red'>S$P500

In [7]:
!touch data/SP500_Yahoo_finacial_new.csv

In [ ]:
df = pd.DataFrame()
words= ['S&P 500']
df = Yahoo_finacial_search(words=words,savefile='SP500_Yahoo_finacial_new.csv')
df = pd.DataFrame(df)
df.head()

<font size='12' color='red'>Nasdaq

In [9]:
!touch data/Nasdaq_Yahoo_finacial_new.csv

In [ ]:
df = pd.DataFrame()
words= ['Nasdaq']
df = Yahoo_finacial_search(words=words,savefile='Nasdaq_Yahoo_finacial_new.csv')
df = pd.DataFrame(df)
df.head()

<font size='12' color='red'>Apple

## Yahoo

In [3]:
#!touch data/Apple_Yahoo_finacial_new.csv

In [8]:
words= ['Apple']
Yahoo = Yahoo_finacial_news_extract(words=words)
Yahoo.Yahoo_finacial_search_topic()
Yahoo.Yahoo_finacial_search_subscript()
df = Yahoo.Yahoo_save_file('Collected/Collected_News/Apple/Apple_Yahoo_finacial_new.csv')
df.head()

*** Done! ***

Empty DataFrame
Columns: [date, main_text, titles, url_titles]
Index: []

### CNET

In [ ]:
# !touch data/CENT_new.csv

In [9]:
words= ["Apple"]
CNET = CENT_news_extract(words)
CNET.CENT_news_topics()
CNET.CENT_news_search_subscript()
df = CNET.CENT_save('Collected/Collected_News/Apple/Apple_CENT_new.csv')
df.head()

[1/1][number of news that are saved]*** Done! ***

,date,main_text,titles,url_titles
0,"February 28, 2019",Don't show this again A lot happened at Mobile...,Apple patents hint at AR headset that'll work ...,https://www.cnet.com/news/apple-patent-hints-a...

#  New_York_Times

In [4]:
#!touch data/Apple_Nytimes_new.csv

In [10]:
words= ["Apple"]
Nytimes = Nytimes_news_extract(words)
Nytimes.Nytimes_news_topics()
Nytimes.Nytimes_news_search_subscript()
df_Nytimes = Nytimes.Nytimes_save('Collected/Collected_News/Apple/Apple_Nytimes_new.csv')
df_Nytimes.head()

*** Done! ***

Empty DataFrame
Columns: [date, main_text, titles, url_titles]
Index: []

# marketwatch

In [18]:
#__info_getnews__(number=4)

In [12]:
#!touch data/Apple_marketwatch_new.csv

In [11]:
words= ["Apple"]
marketwatch = marketwatch_news_extract(words)
marketwatch.marketwatch_news_topics()
marketwatch.marketwatch_news_search_subscript()
df_marketwatch = marketwatch.marketwatch_save(nameSave="Collected/Collected_News/Apple/Apple_marketwatch_new.csv")
df_marketwatch.head()

*** Done! ***

Empty DataFrame
Columns: [date, main_text, titles, url_titles]
Index: []

In [14]:
df = pd.read_csv('data/Apple_marketwatch_new.csv')

In [15]:
len(df)

5