In [ ]:
# remove stopwords fucnation

In [21]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from pendulum import now
from farhad.time_estimate import TimeEstimate
def remove_stop_words(ltext):
    start = now()
    stop_words = set(stopwords.words('english'))
    l = []
    for num,text in enumerate(ltext):
        filtered = []
        text_token = word_tokenize(text)
        for w in text_token:
            if w not in stop_words:
                filtered.append(w)
        TimeEstimate(start,num,ltext)
        l.append(" ".join(filtered[:]))
        
    return l

In [10]:
import pandas as pd
import re
df_base = pd.read_csv("origina_data2/cleandatatraing2.csv")
df_base.head(2)

   Unnamed: 0                                               text  target
0           0   www that summer -PRON- should get david care ...       0
1           1   be upset that -PRON- can not update -PRON- fa...       0

In [11]:
df_base.drop("Unnamed: 0",axis=1, inplace=True)
df_base.text = df_base.text.replace(re.compile(" -PRON-"), "")
df_base.head(3)

                                                text  target
0   www that summer should get david care of thir...       0
1   be upset that can not update facebook by text...       0
2   dive many time for the ball manage to save th...       0

In [ ]:
List_nostop = remove_stop_words(df_base.text) 
df_base.text = List_nostop
df_base.to_csv("training_tweets_without_stop_words.csv")

In [25]:
df_tesla = pd.read_csv('origina_data2/temperray_clean_fileclean2_Tesla_2018-11-29_to2018-12-06.csv')
df_tesla.head(2)

   Unnamed: 0                                               text
0           0  seriously cannot understand how short for away...
1           1                  what your dream car tell roadstar

In [26]:
df_tesla.drop("Unnamed: 0",axis=1, inplace=True)
df_tesla.text = df_base.text.replace(re.compile(" -PRON-"), "")
df_tesla.head(3)

                                                text
0   www that summer should get david care of thir...
1   be upset that can not update facebook by text...
2   dive many time for the ball manage to save th...

In [ ]:
List2_nostop = remove_stop_words(df_base.text) 
df_tesla.text = List2_nostop
df_tesla.to_csv("tesla_tweets_without_stop_words.csv")