In [1]:
from farhad.TwCleaner import Tweets_preprocesiing
import pandas as pd

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

------------------------------------------------------------------------
Class:  Tweets_preprocesiing

input: df
Function:
          data = Cleaner(df)
          data = Remove_stop_words(df)
          newdf = save_clean_tweets(df,new_data,created_at='created_at',name='clean.csv')


------------------------------------------------------------------------

In [2]:
df = pd.read_csv('data2/Secound_collection_tweets_about_tesla.csv')
#df = df.dropna()
df.head(2)

,name,screen_name,text,created_at,geo,source,data_location
0,Dennis Gots,DennisGots,@_Varkeer @Moose25101202 @XLM_Top @Ripple @Bil...,2011-07-19 20:24:52,NaN,Twitter for iPhone,NaN
1,Nikolaj Hansen-Turton,nikolajht,@pietrodimeglio @verge @Tesla I get the limita...,2013-01-02 06:08:48,NaN,Twitter for iPhone,"Philadelphia, PA"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
name             1000 non-null object
screen_name      1000 non-null object
text             1000 non-null object
created_at       1000 non-null object
geo              1 non-null object
source           1000 non-null object
data_location    693 non-null object
dtypes: object(7)
memory usage: 54.8+ KB

In [4]:
CT = Tweets_preprocesiing()
data1 = CT.Cleaner(df['text'])
data = CT.Remove_stop_words(data1)
new_df = save_clean_tweets(df,data,created_at='created_at',name='tesla_clean_1000size.csv')

[1000/1000][clean tweets]*** Done! ***
[1000/1000][Remove stop_words]*** Done! ***

# Label_price

In [ ]:
df_data = pd.read_csv('data/tesla1000_topic_models.csv')
df_data.head()